/* ==========================================================================
   Defaults: Color, Size, Font
   ========================================================================== */

$lightBlue: #d2ddeb !default;
$lightGray: #f9fafb !default;
$blue: #a1c4ff !default;
$Gray: #e9eaed !default;
$DarkGray: #9ba5b2 !default;
$DarkBlue: #a7bedb !default;


$mobile: 720px;
